@model List<MilkyProject.WebUI.Dtos.GalleryDtos.ResultGalleryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Görsel</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Görsel</h4>
                    <p class="card-description">
                        Aşagıdaki tablodan  Görsel bilgilerini görüntüleyebilir,üzerinde işlem yapabilirsiniz.
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Görsel</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.galleryId</td>
                                        <td><img alt="Image placeholder" src="@item.imageUrl"></td>
                                        <td><a href="/Admin/Gallery/DeleteGallery/@item.galleryId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Admin/Gallery/UpdateGallery/@item.galleryId" class="btn btn-success">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Admin/Gallery/CreateGallery" class="btn btn-primary">Yeni Görsel Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

