@model List<MilkyProject.WebUI.Dtos.SocialMediaDto.ResultSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Sosyal Medya </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sosyal Medya</h4>
                    <p class="card-description">
                        Aşağıdaki tablodan sosyal medya bilgileri üzerinde işlem yapabilirsiniz.
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sosyal Medya Adı</th>
                                    <th>Link</th>
                                    <th>İkon</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.socialmediaid</td>
                                        <td>@item.name</td>
                                        <td><img alt="Image placeholder" src="@item.link"></td>
                                        <td>@item.icon</td>
                                        <td><a href="/Admin/SocialMedia/DeleteSocialMedial/@item.socialmediaid" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Admin/SocialMedia/UpdateSocialMedia/@item.socialmediaid" class="btn btn-success">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Admin/SocialMedia/CreateSocialMedial" class="btn btn-primary">Yeni Sosyal Medya Girişi</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

