<div class="container-fluid banner my-5 py-5" data-parallax="scroll" data-image-src="/dairy-website-template/img/banner.jpg">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-4">
                        <img class="img-fluid rounded" src="~/dairy-website-template/img/banner-1.jpg" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-white mb-3">
                            En İyi Süt Ürünlerini Satıyoruz
                        </h2>
                        <p class="text-white mb-4">Son mahsül süt ürünlerimizi yine son derece hijyenik ortamlarda üretip satıyoruz</p>
                        <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Devamını Oku</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-4">
                        <img class="img-fluid rounded" src="~/dairy-website-template/img/banner-2.jpg" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="text-white mb-3">Dünya çapında taze yumuşak ürünler sunuyoruz</h2>
                        <p class="text-white mb-4">Ürünlerimiz son derece kaliteli ve yumuşaktır, kendi hayvanlarımızın sütünden yapmaktayız</p>
                        <a class="btn btn-secondary rounded-pill py-2 px-4" href="">Devamını Oku</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>